html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b {
  font-weight: 700;
}

img {
  border: 0;
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url(fonts/glyphicons-halflings-regular.eot);
  src: url(fonts/glyphicons-halflings-regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/glyphicons-halflings-regular.woff) format("woff"),
    url(fonts/glyphicons-halflings-regular.ttf) format("truetype"),
    url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format("svg");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-10,
.col-md-12,
.col-md-4,
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-10,
  .col-md-12,
  .col-md-4,
  .col-md-6 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: Arvo, serif;
  color: #6a6a6a;
  font-size: 15px;
}

h2,
h3,
h4 {
  font-family: Oswald, sans-serif;
}

h2,
h3,
h4 {
  color: #333;
}

.text-white h2,
.text-white h3,
.text-white h4 {
  color: white;
}

h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-family: Arvo, serif;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: #6a6a6a;
}

a:hover {
  text-decoration: none;
}

.text-white {
  color: white;
}

.hero {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #bb5265;
}

.hero.fixed-height {
  position: relative;
  height: 625px;
}

.slide-title-outter-wrapper {
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  z-index: 3;
  overflow: hidden;
}

.slide-title-inner-wrapper {
  width: 1170px;
  height: inherit;
  margin: 0 auto;
  display: table;
}

.slide-title {
  display: table-cell;
  text-align: center;
  color: #fff;
}

.slide-title.align-middle {
  vertical-align: middle;
}

#save-the-date {
  font-family: Pacifico, cursive;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-bottom: 20px;
}

#save {
  font-size: 75px;
  line-height: 50px;
}

#the-date {
  font-size: 62px;
}

#date {
  font-size: 47px;
  line-height: 40px;
}

.pink-dot {
  color: #f0394d;
}

#content {
  position: relative;
  background-color: #f6f6f6;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 40px;
}

.title-excerpt {
  position: relative;
  background-color: #fff;
  padding: 25px;
}

.blurb {
  margin-top: 20px;
}

.alignment {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.v-align {
  display: table-cell;
}

.center-middle {
  vertical-align: middle;
  text-align: center;
}

.image-divider {
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.image-divider .divider-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}

.image-divider.fixed-height {
  height: 700px;
  width: 100%;
  padding: 0;
}

.heart-divider {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.white-line {
  width: 30px;
  height: 8px;
  display: inline-block;
  border-top: solid 1px #fff;
}

.grey-line {
  width: 30px;
  height: 8px;
  display: inline-block;
  border-top: solid 2px #e1dddd;
}

.pink-heart {
  color: #f0394d;
  font-size: 18px;
  position: relative;
  z-index: 3;
}

.white-heart {
  color: #fff;
  font-size: 18px;
  margin-left: -15px;
  position: relative;
  z-index: 2;
}

.grey-heart {
  color: #e1dddd;
  font-size: 18px;
  margin-left: -15px;
  position: relative;
  z-index: 2;
}

.banner-text {
  display: inline-block;
  font-family: Oswald, sans-serif;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.banner-text.medium {
  padding: 2px 50px;
}

.banner-text.light {
  color: #fff;
  border-top: medium double #fff;
  border-bottom: medium double #fff;
}

.banner-text.light * {
  color: #fff;
}

#counting-down {
  text-align: center;
  color: #fff;
  font-family: Pacifico;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform: rotate(-10deg);
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

#counting {
  font-size: 65px;
  line-height: 50px;
}

#down {
  font-size: 55px;
  line-height: 65px;
}

.simple-countdown {
  width: 250px;
  margin: 0 auto;
  margin-top: 25px;
}

.simple-countdown.is-countdown {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 13px;
}

.simple-countdown .countdown-amount {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
}

h2 {
  font-family: "EB Garamond", serif;
}

.img-position {
  position: absolute;
  left: -72px;
}

.img-icon {
  margin-top: -8px;
}

.tidsplan {
  display: inline-block;
  list-style: none;
  margin-left: 72px;
  margin-bottom: 48px;
  padding-left: 32px;
  position: relative;
  height: 100%;
  border-left: 2px dotted #333;
}

.tidsplan li,
.tidsplan li::before {
  display: block;
}

.tidsplan li {
  position: relative;
  top: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  min-height: 48px;
}

.tidsplan li::before {
  content: "";
  position: absolute;
  left: -37px;
  width: 8px;
  height: 8px;
  top: 8px;
  border: 4px solid #333;
  border-radius: 8px;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.content-container {
  padding: 140px 0;
}

.content-container.content-container--slim {
  padding: 60px 0;
}

.content-container.content-container--gray {
  background-color: #e7e7e7;
}

.content-container.content-container--dark {
  background-color: rgb(0 0 0 / 30%);
}

.content-container.content-container--red {
  background-color: #bb5265;
}

.content-container h4 {
  font-size: 17px;
}

.wedding-item {
  margin-bottom: 40px;
}

footer .image-divider.fixed-height {
  height: 550px;
}

#thank-you {
  text-align: center;
  color: #fff;
  font-family: Pacifico;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform: rotate(-10deg);
  padding-right: 30px;
  margin-top: 40px;
  margin-bottom: 25px;
}

#thank {
  font-size: 55px;
  line-height: 45px;
}

#you {
  font-size: 55px;
  line-height: 45px;
}

#footer-couple-name {
  font-family: Oswald, sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .slide-title-inner-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .image-divider {
    background-attachment: scroll;
  }

  @media screen and (max-width: 768px) and (orientation: landscape) {
    #save-the-date {
      padding-top: 0;
      margin-bottom: 0;
    }

    #save {
      font-size: 50px;
      line-height: 30px;
    }

    #the-date {
      font-size: 40px;
    }

    #date {
      font-size: 30px;
      line-height: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    #save-the-date {
      margin-bottom: 0;
      padding-top: 0;
    }

    #save {
      font-size: 60px;
      line-height: 35px;
    }

    #the-date {
      font-size: 50px;
    }

    #date {
      font-size: 40px;
      line-height: 25px;
    }

    .section-title {
      margin-bottom: 50px;
    }

    .title-excerpt {
      padding: 20px;
    }

    .banner-text.medium {
      padding: 0;
    }

    #counting {
      font-size: 55px;
      line-height: 45px;
    }

    #down {
      font-size: 50px;
      line-height: 50px;
    }

    .simple-countdown .countdown-amount {
      font-size: 16px;
    }

    .content-container {
      padding: 60px 0 40px 0;
    }
  }

  @media screen and (max-width: 320px) {
    #save-the-date {
      padding-top: 0;
      margin-bottom: 0;
    }

    #save {
      font-size: 50px;
      line-height: 30px;
    }

    #the-date {
      font-size: 40px;
    }

    #date {
      font-size: 30px;
      line-height: 20px;
    }

    footer .image-divider.fixed-height {
      height: 400px;
    }

    #thank-you {
      text-align: center;
      color: #fff;
      font-family: Pacifico;
      -ms-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
      transform: rotate(-10deg);
      padding-right: 30px;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    #thank {
      font-size: 45px;
      line-height: 35px;
    }

    #you {
      font-size: 45px;
      line-height: 35px;
    }

    #footer-couple-name {
      font-family: Oswald, sans-serif;
      font-size: 15px;
      color: #fff;
      letter-spacing: 3px;
      margin-top: 10px;
    }
  }
}

.textarea {
  width: 551px;
  max-width: 90vw;
  height: 180px;
  padding: 10px 15px;
  font-family: "Arvo";
  line-height: 27px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  border: 0;
  resize: none;
}

.textarea:focus-visible {
  outline: 0;
}

.wish-header {
  letter-spacing: 3px;
  visibility: visible;
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/arvo/v20/tDbD2oWUg0MKqScQ7Z7o_vo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/arvo/v20/tDbM2oWUg0MKoZw1-LPK89D4hAA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCY95WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkAI95WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCI95WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkB495WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkC495WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkCo95WamXgHlIbvw.woff)
    format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkBI95WamXgHlI.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiYySUhiCXABTV.woff)
    format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiYySUhiCXABTV.woff)
    format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliYySUhiCXABTV.woff)
    format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiYySUhiCXABTV.woff)
    format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6K6MmBp0u-zK4.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6D6MmBp0u-zK4.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6I6MmBp0u-zK4.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6J6MmBp0u-zK4.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
